{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu" >Institucional</li>
            <li class="breadSeccion">Acuerdos y Convenios</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h4 data-aos="fade-up" ><strong>Acuerdos y Convenios</strong></h4>
      </div>
    </section><!-- End Breadcrumbs -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up" data-aos-delay="500">
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %} " class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %} " class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %} " class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %} " class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static "img/agreements/cisoft.png" %} " class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <section class="inner-page">
      <div class="containerAgreements">
          <article data-aos="fade-up" class="agreements d-flex">
              <div class="agreementsImg">
                  <img src="{% static "img/agreements/cisoft.png" %}" class="img-fluid" alt="">
              </div>
              <div class="agreementsText">
                  <span class="agreementsTittle"><b>CONVENIO ESPECÍFICO DE PASANTÍA CON LA CÁMARA PARAGUAYA DE LA INDUSTRIA DEL SOFTWARE CISOFT</b> </span><br>
                  <span><b>Fecha:</b> 11 de enero de 2021.</span> <br>
                  <span><b>Duracion:</b> 5 Años, Prorrogable de Común Acuerdo.</span>
                   <a class="aVerAgreements" href="#">Ver Convenio</a> <br>
                  <button class="btnVerAgreements btn btn-primary">Ver Convenio</button>
              </div>
          </article>
          <article data-aos="fade-up" class="agreements d-flex">
              <div class="agreementsImg">
                  <img src="{% static "img/agreements/cisoft.png" %}" class="img-fluid" alt="">
              </div>
              <div class="agreementsText">
                  <span class="agreementsTittle"><b>CONVENIO MARCO DE COOPERACIÓN RECÍPROCA CON LA CÁMARA PARAGUAYA DE LA INDUSTRIA DEL SOFTWARE CISOFT </b> </span><br>
                  <span><b>Fecha:</b> 11 de enero de 2021.</span> <br>
                  <span><b>Duracion:</b> 5 Años, Prorrogable de Común Acuerdo.</span>
                   <a class="aVerAgreements" href="#">Ver Convenio</a> <br>
                  <button class="btnVerAgreements btn btn-primary">Ver Convenio</button>
              </div>
          </article>
          <article data-aos="fade-up" class="agreements d-flex">
              <div class="agreementsImg">
                  <img src="{% static "img/agreements/cisoft.png" %}" class="img-fluid" alt="">
              </div>
              <div class="agreementsText">
                  <span class="agreementsTittle"><b>CONVENIO MARCO DE COOPERACIÓN INTERINSTITUCIONAL CON EL INSTITUTO PROFESIONAL SPEAKING ENGLISH</b> </span><br>
                  <span><b>Fecha:</b> 5 de noviembre de 2020.</span><br>
                  <span><b>Duracion:</b> 3 Años, Prorrogable de Común Acuerdo.</span>
                   <a class="aVerAgreements" href="#">Ver Convenio</a> <br>
                  <button class="btnVerAgreements btn btn-primary">Ver Convenio</button>
              </div>
          </article>
          <article data-aos="fade-up" class="agreements d-flex">
              <div class="agreementsImg">
                  <img src="{% static "img/clients/FCO.png" %}" class="img-fluid" alt="">
              </div>
              <div class="agreementsText">
                  <span class="agreementsTittle"><b>CONVENIO MARCO DE COOPERACIÓN INTERINSTITUCIONAL CON EL MINISTERIO DE DESARROLLO SOCIAL MDS</b> </span><br>
                  <span><b>Fecha:</b> 27 de noviembre de 2020.</span><br>
                  <span><b>Duracion:</b> 2 Años, Renovable por el Mismo Periodo Salvo Oposición Expresada por Escrito.</span>
                   <a class="aVerAgreements" href="#">Ver Convenio</a> <br>
                  <button class="btnVerAgreements btn">Ver Convenio</button>
              </div>
          </article>
          <article data-aos="fade-up" class="agreements d-flex">
              <div class="agreementsImg">
                  <img src="{% static "img/agreements/cisoft.png" %}" class="img-fluid" alt="">
              </div>
              <div class="agreementsText">
                  <span class="agreementsTittle"><b>CONVENIO MARCO DE COOPERACIÓN INTERINSTITUCIONAL CON EL INSTITUTO TÉCNICO SUPERIOR DE ELECTRICIDAD ITC</b> </span><br>
                  <span><b>Fecha:</b> 29 de julio de 2019.</span><br>
                  <span><b>Duracion:</b> 5 años, Renovable Automáticamente Salvo Oposición Expresada por Escrito.</span>
                   <a class="aVerAgreements" href="#">Ver Convenio</a> <br>
                  <button class="btnVerAgreements btn btn-primary">Ver Convenio</button>
              </div>
          </article>
          <article data-aos="fade-up" class="agreements d-flex">
              <div class="agreementsImg">
                  <img src="{% static "img/agreements/cisoft.png" %}" class="img-fluid" alt="">
              </div>
              <div class="agreementsText">
                  <span class="agreementsTittle"><b>ACUERDO DE COOPERACIÓN INTERINSTITUCIONAL CON LA FACULTAD DE ODONTOLOGÍA “SANTO TOMÁS DE AQUINO”</b> </span><br>
                  <span><b>Fecha:</b> 01 de julio de 2019.</span><br>
                  <span><b>Duracion:</b> 2 Años, Renovable de Común Acuerdo.</span>
                   <a class="aVerAgreements" href="#">Ver Convenio</a> <br>
                  <button class="btnVerAgreements btn btn-primary">Ver Convenio</button>
              </div>
          </article>
          <article data-aos="fade-up" class="agreements d-flex">
              <div class="agreementsImg">
                  <img src="{% static "img/agreements/cisoft.png" %}" class="img-fluid" alt="">
              </div>
              <div class="agreementsText">
                  <span class="agreementsTittle"><b>CONVENIO MARCO DE COOPERACIÓN INTERINSTITUCIONAL CON EL MINISTERIO DE EDUCACIÓN Y CIENCIAS</b> </span><br>
                  <span><b>Fecha:</b> 7 de marzo de 2019</span><br>
                  <span><b>Duracion:</b> Hasta el 31 de Diciembre de 2021, Podrá ser Renovado de Común Acuerdo entre las Partes.</span>
                  <a class="aVerAgreements" href="#">Ver Convenio</a> <br>
                  <button class="btnVerAgreements btn btn-primary">Ver Convenio</button>
              </div>

          </article>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}