{% load static %}
{% include "header.html" %}

<main id="main" xmlns="http://www.w3.org/1999/html">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a class="breadInicio" href="index.html">Inicio</a></li>
                <li class="breadMenu">Institucional</li>
                <li class="breadSeccion">Autoridades y Dependencias</li>
            </ol>
        </div>
    </section>
    <section class="tittle">
        <div class="container-titulo">
            <h4 data-aos="fade-up"><strong>Autoridades y Dependencias</strong></h4>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="containerText">
            <p>

            <h4 style="color: black">MENSAJE DEL DECANO</h4>
            A la comunidad de la Universidad Nacional de Caaguazú en particular y a toda la ciudadanía en general,
            deseo expresar mi gran satisfacción y honra al dirigirme a ustedes en este día tan importante para la
            Facultad de Ciencias y Tecnologías...
            es un orgullo para mí llegar al cargo de decano de una facultad que vi nacer, crecer y fortalecerse.
            Este logro es gracias al trabajo mancomunado de todos quienes han ofrecido su apoyo y colaboración como
            miembros de la institución.
            El trabajo en equipo siempre ha caracterizado a esta facultad y ha facilitado que se obtengan logros
            importantes en beneficio de los alumnos y egresados.
            <br>Es por ello, que especialmente hoy, les pido a todos que trabajemos unidos hacia los propósitos
            misionales de la universidad y la facultad,
            asumiendo con empoderamiento, sentido de pertenencia y valentía los desafíos.<br>
            El compromiso a partir de ahora, es poner nuestro profesionalismo y esfuerzo en favor del cumplimiento de
            los fines y propósitos de la Unca y al desarrollo de los 3 pilares:
            academia, investigación y extensión, igualmente la difusión de valores humanos y la cultura
            nacional.<br>
            En cuanto a la academia, se fortalecerá la formación continua del plantel docente y buscaremos ofrecer
            cursos para los alumnos y egresados;
            de igual manera, promover la investigación a través de la formación de equipos abocados a esa actividad y en
            extensión,
            llevar a cabo proyectos que impacten sobre las necesidades reales de la comunidad, en la búsqueda de
            constituirse realmente en una universidad respuesta cual es el objetivo de la Unca.<br>
            Juntos, priorizando el interés institucional, llegaremos a cumplir con lo definido en la carta Magna siempre
            orientados a lo que espera de nosotros la sociedad.<br>
            Finalmente agradezco a Dios, a mi familia y a todas las personas que confiaron en mi persona para encarar
            estos desafíos y manifiesto mi compromiso de hacer todo lo humanamente posible para cumplirlos. Muchas
            gracias.
            <br>
            <br>
                            <h2 style="text-align: center">MIEMBROS DEL CONSEJO DIRECTIVO</h2>

            </p>

        </div>

</section>
<section id="about" class="about section">

      <div class="container" data-aos="fade-up">

        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200" >
            <div class="content">
                <h1>Prof. Ing. Alfredo Moreno Sosa</h1>
                <h2>Decano</h2>
              <p>Ingeniero Eléctrico en Energía y Potencia<br> Ingeniero Eléctrico en Automatización y Control
                  Ingeniero Eléctrico en Energías Renovables<br>
                  Ingeniero Eléctrico en Telecomunicaciones<br>
                  Ingeniero Eléctrico en Mantenimiento Industrial<br>
Ingeniero Eléctrico en Proyectos de Infraestructura</p>

            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="" >
          </div>

        </div>
      </div>
    </section><!-- /About Section -->
    <br>

    <section id="about2" class="about2 section">

      <div class="container" data-aos="fade-up">

        <div class="row gx-0">
   <div class="col-lg-6  flex-column align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/team-1.jpg' %}" class="img-fluid" alt="" >
          </div>
          <div class="col-lg-6 d-flex  flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">

                <h1>Prof. Ing. Roberto Rosa Chávez Ayala</h1>
                <h2>Vice Decano</h2>
              <p>Ingeniero Eléctrico en Energía y Potencia<br> Ingeniero Eléctrico en Automatización y Control
                  Ingeniero Eléctrico en Energías Renovables<br>
                  Ingeniero Eléctrico en Telecomunicaciones<br>
                  Ingeniero Eléctrico en Mantenimiento Industrial<br>
Ingeniero Eléctrico en Proyectos de Infraestructura</p>
</p>

            </div>
          </div>


        </div>
      </div>
        <br>
    <br>

    </section><!-- /About Section -->

</main>


{% include "footer.html" %}