{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="inicio/">Inicio</a></li>
          <li class="breadMenu" >Académico</li>
            <li class="breadSeccion">Bienestar Estudiantil</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 data-aos="fade-up" ><strong>Bienestar Estudiantil</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
        <p>La coordinación de Bienestar estudiantil dependiente de la Dirección Académica es responsable de la 
            atención general de las necesidades, inquietudes que afectan a la población estudiantil de la Facultad, 
            buscando generar oportunidades y beneficios que contribuyan a la formación integral de los estudiantes de 
            la Facultad de Ciencias y Tecnologías.<br><br>

            Mediante estos programas se procura canalizar y satisfacer las necesidades que como individuos manifiesten 
            los estudiantes.<br><br>

            Además, favorece la inserción al mercado de trabajo y fomenta el emprendedurismo, 
            de pertenencia, identidad, honestidad, responsabilidad, respeto y espíritu solidario de los 
            estudiantes con su facultad y con la sociedad en general.</p><br>
          <h4>¿Cuáles son los beneficios que ofrece la Facultad de Ciencias y Tecnologías?</h4><br>
          <h5>Exoneración de Aranceles</h5>
          <p>Los alumnos interesados en acceder al beneficio de exoneración de la matrícula correspondiente al primero o 
              segundo semestre del año en curso debe seguir los siguientes pasos:
          </p>
          <ol>
              <li>Interiorizarse del Reglamento de Exoneración de aranceles (matrícula) aprobada por el Consejo Directivo 
                  por Resolución 033/2017.</li>
              <li>Para solicitar la Exoneración del arancel de la matrícula se debe descargar la solicitud de exoneración y 
                  declaración jurada para su entrega posterior.</li>
              <li>El plazo para la presentación de los documentos en Secretaría General corre a partir del día 17/02/2020 
                  hasta el 13/03/2020.</li>
              <li>Más información con el Coordinador de Bienestar Estudiantil Ing. Juan Silvero.</li>
          </ol>
          <p>Los interesados pueden acceder a los documentos solicitados en los siguientes enlaces:</p>
      </div>
        <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 class="breadInicio">Resolución Nro 033/2017</h3>
              <ul>
                <li>Por la cual se aprueba el reglamento de concesión de exoneración de aranceles de la Facultad de 
                    Ciencias y Tecnologias de la Universidad Nacional de Caaguazu.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Exoneración</h3>
              <ul>
                <li>Aprobado por Resolución Consejo Directivo N° 033/2017 de fecha 13 de marzo de 2017, Acta N° 05/2017.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 class="breadInicio">Solicitud de Exoneración</h3>


              <ul>
                <li>Modelo de Solicitud de Exoneración de Matricula.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <h3 class="breadInicio">Declaración Jurada</h3>
              <ul>
                <li>Modelo de Declaración Jurada</li>
              </ul>
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>
        </div>

      </div>

    </section>
    </section>
      

  </main><!-- End #main -->

{% include "footer.html" %}