{% load static %}
{% include "header.html" %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <<section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu">Carreras</li>
            <li class="breadSeccion">Ingeniería en Sistemas Informaticos</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up"><strong>Ingeniería en Sistemas Informaticos</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="testimonials custom-testimonial" id="testimonials_mision">
        <div class="containerText" data-aos="fade-up" id="containerInfor">
            <div class="titulacion row align-items-star justify-content-center">
                <div class="row">
                    <div class="col titulacion_item"><h5>Duración:</h5>
                        5 años
                    </div>
                    <div class="col titulacion_item"><h5>Título:</h5>
                        Ingeniero/a en Sistemas Informáticos
                    </div>
                    <div class="col titulacion_item"><h5>Carga horaria:</h5>
                        5.312 hs. reloj (Incluidos Pasantía y Proyecto Final de Grado)
                    </div>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                        <div class="objetivosDeCarreara">
                              <h2><i class="bi bi-patch-check"></i> Objetivos de la carrera</h2>
                        </div>
                        <br>
                        <p>
                              Formar profesionales calificados en Ingeniería en Informática,
                              con sólidas capacidades en el desarrollo de aplicaciones informáticas,
                              manejo de tecnologías emergentes; y comprometidos con la sociedad.
                        </p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up"  data-aos-delay="250" class="testimonial-item custom-testimonial-items">
                <div>
                <div class="habilidades">
                    <h2><i class="bi bi-gear"></i> Habilidades</h2>
                </div>
                <p>
                    <div class="d-flex flex-column ps-1" id="habilidades-item">
                        <div class="row">
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="300" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                     Capacidad analítica.
                                </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="400" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Alta habilidad matemática.
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="500" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de razonamiento inductivo.
                                </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="600" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Razonamiento lógico.
                                </span>
                            </div>
                        </div>
                        <br>
                            <span data-aos="fade-up"  data-aos-delay="500" class="valores-custom">
                                <i class="bi bi-check-square" id="check-habilidad"></i>
                                Innovador.
                            </span>
                        <br>
                    </div>
                </div>
            </div>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Plan de estudio y malla curricular</h2>
            <section id="pricing" class="pricing">
        <div class="planymalla">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4" data-aos="fade-left">
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="box">
                            <h3 class="breadInicio">Malla Curricular</h3>
                            <ul class="card-body">
                                <li>Plan 2010 - imagen</li>
                            </ul>
                            <div class="card-footer">
                                <a href="https://www.fctunca.edu.py/application/files/1415/0050/3930/Malla_Informatica2010.jpeg"
                                   class="btn-buy">
                                    <i class="bi bi-eye ">
                                    </i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="box">
                            <h3 class="breadInicio">Proyecto educativo actual</h3>
                            <ul>
                                <li>Proyecto educativo actual - 2010</li>
                            </ul>
                            <a href="https://www.fctunca.edu.py/application/files/3015/7168/7100/PEI-Informatica.pdf" class="btn-buy"><i class="bi bi-eye "></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box">
                            <h3 class="breadInicio">Malla actual</h3>
                            <ul>
                             <li>Plan 2010 - con enlace a los programas de estudio</li>
                        </ul>
                        <a href="https://www.fctunca.edu.py/application/files/6815/5179/4323/Malla_Curricular_-__Informatica_con_links_.pdf" class="btn-buy"><i class="bi bi-eye "></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box">
                            <h3 class="breadInicio">Propuesta de malla</h3>
                            <ul>
                                <li>Propuesta de malla(en curso)</li>
                            </ul>
                        <a href="https://drive.google.com/file/d/0B6IRj1pyLR7QZUQwM3Q3NnRkajh2aDcyVURNdXRVaF9sdWRR/view?resourcekey=0-MHSu9qnw4Qtrgeea4kGjDw" class="btn-buy"><i class="bi bi-eye "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-check"></i> Perfil de egresado</h2>
                            </div>
                            <br>
                            <ol class="perfil">
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    El ingeniero en informática es un profesional con sólida formación técnica,
                                    científica y de gestión, capaz de liderar, diseñar, optimizar y
                                    evaluar proyectos tecnológicos y de negocios utilizando las herramientas de
                                    tecnologías de la información y metodologías más avanzadas del mercado.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Se caracteriza por valorar sus responsabilidades profesionales, éticas y sociales.
                                    Está comprometido con la calidad y mejora continua de su trabajo.
                                    Es emprendedor, autónomo e innovador en su actividad profesional.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Puede liderar e integrar efectivamente, equipos de trabajos multidisciplinarios,
                                    realizando eficientemente la identificación, análisis y solución de
                                    problemas complejos, inherentes a la tecnología de la información.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-fill-gear"></i> Campo de trabajo</h2>
                            </div>
                            <br>
                            <ol class="perfil">
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Directivo en empresas públicas o privadas, contribuyendo a definir, desarrollar
                                    e implantar tecnologías informáticas tendientes a optimizar los procesos
                                    productivos de la empresa.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    En las empresas nacionales y extranjeras más sobresalientes,
                                    en las áreas de hardware, software y desarrollo de sistemas globales.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Desarrollando su propia empresa para satisfacer la necesidad
                                    de bienes y servicios de cómputo demandados por el mercado regional y nacional.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Proporcionar consultorías sobre sistemas y estrategias
                                    tecnológicas a las organizaciones públicas o privadas que las demanden..
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Autoridades de la carrera</h2>
            <h5 class="autoridades" data-aos="fade-up" data-aos-delay="100">Director de Carrera s/Resol.
                05/2018 C.D. del 1 de marzo de 2018 y <a href="https://www.fctunca.edu.py/application/files/5315/6379/7517/Res._49-19_Rectorado_-_JC_y_PG.pdf">Res. 49/2019 Rectorado</a></h5>
            <div class="director_carrera">
                <section id="team" class="team centered-section">
                    <div class="container" data-aos="fade-up" id="container-consejo">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-3 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="150">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="{% static "img/directores/ingJulioCoronel.png" %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>Ing. Julio César Coronel Ramoa</h4>
                                        <span><b>Director de Carrera</b></span>
                                        <p class="consejo-contenido">jcoronel@fctunca.edu.py</p>
                                        <p class="consejo-contenido">+595971416107</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="containerText" data-aos="fade-up">
            <div class="acreditacion row align-items-start">
                <h2>¡La carrera se encuentra acreditada en el modelo nacional de la ANEAES por
                    4 años (2021-2025) según la
                    <a href="https://www.fctunca.edu.py/application/files/5616/3352/7539/Nota_1368_Res_245_ANEAES_2021_compressed.pdf">
                        Resolución 245
                    </a>
                    de dicho ente!
                </h2>
            </div>
        </div>
    </section>
  </main><!-- End #main -->
{% include "footer.html"%}