{% load static %}
{%  include 'header.html' %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <<section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu">Carreras</li>
            <li class="breadSeccion">Ingeniería en Electricidad</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up"><strong>Ingeniería en Electricidad</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="testimonials custom-testimonial" id="testimonials_mision">
        <div class="containerText" data-aos="fade-up">
            <div class="titulacion row align-items-start">
                <table>
                    <tr>
                        <td><h5>Duración:</h5>
                            5 años
                        </td>
                        <td><h5>Título:</h5>
                             Ingeniero/a en Electricidad
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                        <div class="objetivosDeCarreara">
                              <h2><i class="bi bi-patch-check"></i> Objetivos de la carrera</h2>
                        </div>
                        <br>
                        <p>
                            Formar profesionales de la Ingeniería en Electricidad de excelencia,
                            competentes, con sentido crítico, ético y responsabilidad social,
                            mediante el solido conocimiento de ciencias físicas, matemática
                            y uso de tecnologías, adquiridos mediante el estudio, la práctica,
                            la investigación y la extensión universitaria.
                        </p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up"  data-aos-delay="250" class="testimonial-item custom-testimonial-items">
                <div>
                <div class="habilidades">
                    <h2><i class="bi bi-gear"></i> Habilidades</h2>
                </div>
                <p>
                    <div class="d-flex flex-column ps-3" id="habilidades-item">
                        <div class="row">
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="300" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                     Capacidad analítica.
                                </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="400" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Alta habilidad matemática.
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="500" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de razonamiento inductivo.
                                </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="600" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Habilidad de sistematizar.
                                </span>
                            </div>
                        </div>
                    <br>
                    <div class="row">
                        <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="500" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Razonamiento lógico.
                                </span>
                        </div>
                        <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="600" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Innovador.
                                </span>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Plan de estudio y malla curricular</h2>
            <section id="pricing" class="pricing">
        <div class="planymalla">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4 justify-content-center" data-aos="fade-left">
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="box">
                            <h3 class="breadInicio">Malla Curricular</h3>
                            <ul class="card-body">
                                <li>Plan 2010 - PDF</li>
                            </ul>
                            <div class="card-footer">
                                <a href="https://www.fctunca.edu.py/application/files/7815/4833/6355/Malla_Curricular_-__Electricidad19.pdf"
                                   class="btn-buy">
                                    <i class="bi bi-eye ">
                                    </i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="box">
                            <h3 class="breadInicio">Proyecto educativo actual</h3>
                            <ul>
                                <li>Proyecto educativo actual - 2014</li>
                            </ul>
                            <a href="https://www.fctunca.edu.py/application/files/3716/1911/6476/PROYECTO_EDUCATIVO_ELECTRICIDAD_APROBADO_POR_EL_CONES.pdf" class="btn-buy"><i class="bi bi-eye "></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box">
                            <h3 class="breadInicio">Plan de desarrollo</h3>
                            <ul>
                             <li>Plan de desarrollo - 2017 - 2021</li>
                        </ul>
                        <a href="https://www.fctunca.edu.py/application/files/6814/9092/2147/Plan_de_Desarrollo_Ingenieria_en_Electricidad_1.pdf" class="btn-buy"><i class="bi bi-eye "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-check"></i> Perfil de egresado</h2>
                            </div>
                            <ol class="perfil">
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de planeamiento Visión pro-activa
                                    (creatividad, iniciativa, participación).
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de relacionamiento interpersonal y facilidad
                                    de comunicación Respeto al medio ambiente
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de acoplar la teoría con la práctica
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de adaptación a los cambios tecnológicos Planear,
                                    elaborar, ejecutar, supervisar y evaluar proyectos de instalación y/o mantenimiento eléctrico
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Dominio del conocimiento de máquinas y equipamientos eléctricos industriales
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Prestar apoyo técnico en la compra, venta, y utilización
                                    de productos y equipamientos del área eléctrica
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Usar racionalmente las fuentes de energía
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-fill-gear"></i> Campo de trabajo</h2>
                            </div>
                            <br>
                            <ol class="perfil">
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Sistemas y/o partes de sistemas eléctrico.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Proyectar, montar y administrar instalaciones
                                    eléctricas industriales, comerciales o residenciales.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Sistemas, equipos e instalaciones de alumbrado
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Brindar con calidad sus servicios profesionales,
                                    desempeñando sus laboras con valores éticos y morales.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Proyectar, montar y administrar instalaciones eléctricas
                                    industriales, comerciales o residenciales.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Proyectar, dirigir e inspeccionar sistemas de generación,
                                    transmisión, distribución y comercialización de la energía eléctrica.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Planificar, organizar, dirigir y evaluar programas
                                    de mantenimiento eléctrico para industrias o grandes instalaciones.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Autoridades de la carrera</h2>
            <h5 class="autoridades" data-aos="fade-up" data-aos-delay="100">Director de Carrera s/Resol.
                <a href="https://www.fctunca.edu.py/application/files/5315/6379/7517/Res._49-19_Rectorado_-_JC_y_PG.pdf"> Res. 49/2019 Rectorado</a>
            </h5>
                <section id="team" class="team centered-section">
                    <div class="container" data-aos="fade-up" id="container-consejo">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-3 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="150">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="{% static "img/directores/ingPedroPastor.png" %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>ING. PEDRO PASTOR DAVID GONZÁLEZ RODRÍGUEZ</h4>
                                        <span><b>Director de Carrera</b></span>
                                        <p class="consejo-contenido">pedropastor@fctunca.edu.py</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        <div class="containerText" data-aos="fade-up">
            <div class="acreditacion row align-items-start">
                <h2>
                    ¡La carrera fue acreditada en el modelo nacional de la ANEAES
                    según la Resolución 458/17 de dicho ente, válida hasta el 1 de diciembre del 2022!
                </h2>
            </div>
        </div>
    </section>
  </main><!-- End #main -->
{% include 'footer.html' %}