{% load static %}
{%  include 'header.html' %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <<section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu">Carreras</li>
            <li class="breadSeccion">Ingeniería en Electronica</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up"><strong>Ingeniería en Electronica</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="testimonials custom-testimonial" id="testimonials_mision">
        <div class="containerText" data-aos="fade-up">
            <div class="titulacion row align-items-start">
                    <div class="row">
                        <div class="col titulacion_item"><h5>Duración:</h5>
                            5 años
                        </div>
                        <div class="col titulacion_item"><h5>Título:</h5>
                             Ingeniero/a en Electrónica
                        </div>
                    </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                        <div class="objetivosDeCarreara">
                              <h2><i class="bi bi-patch-check"></i> Objetivos de la carrera</h2>
                        </div>
                        <br>
                        <p>
                            Formar Ingenieros en Electrónica con una adecuada base de conocimientos científicos
                            y tecnológicos de tal manera que puedan contribuir a nuestra sociedad
                            para promover el desarrollo económico, social, científico y tecnológico del País.
                        </p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up"  data-aos-delay="250" class="testimonial-item custom-testimonial-items">
                <div>
                <div class="habilidades">
                    <h2><i class="bi bi-gear"></i> Habilidades</h2>
                </div>
                <p>
                    <div class="d-flex flex-column ps-3" id="habilidades-item">
                        <div class="row">
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="300" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                     Solida preparación en sistemas electrónicos.
                                </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="400" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Metodología eficiente para el trabajo en equipo.
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="500" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Alta capacidad de análisis y síntesis.
                                </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="600" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Facilidad de comunicación oral y escrita.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Plan de estudio y malla curricular</h2>
            <section id="pricing" class="pricing">
        <div class="planymalla">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4 justify-content-center" data-aos="fade-left">
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="box">
                            <h3 class="breadInicio">Malla Curricular</h3>
                            <ul class="card-body">
                                <li>Malla Curricular - 2010</li>
                            </ul>
                            <div class="card-footer">
                                <a href="https://www.fctunca.edu.py/application/files/1715/4833/6357/Malla_Currilar_-_Electronica19.pdf"
                                   class="btn-buy">
                                    <i class="bi bi-eye ">
                                    </i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-check"></i> Perfil de Egresado</h2>
                            </div>
                            <ol class="perfil">
                                <li class="parrafo_electronica">
                                    El perfil del profesional en el campo de la Electrónica contempla las líneas de
                                formación personal y técnica. La implementación del curso apunta hacia la
                                interdisciplinariedad, por medio de un currículo estructurado en base a los
                                conocimientos científicos, tecnológicos y de gestión. Con esto se desea que
                                el egresado adquiera el siguiente perfil:
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de planeamiento.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Visión pro-activa (creatividad, iniciativa, participación).
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de relacionamiento interpersonal y facilidad de comunicación.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Respeto al medio ambiente.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de acoplar la teoría con la práctica.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de adaptación a los cambios tecnológicos.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Planear, elaborar, ejecutar, supervisar y evaluar proyectos
                                    de sistemas electrónicos de automatización y control.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Dominio del conocimiento de máquinas y equipamientos electrónicos.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Prestar apoyo técnico en la compra, venta, y utilización
                                    de productos y equipamientos electrónicos.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Usar racionalmente las fuentes de energía.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-fill-gear"></i> Campo de trabajo</h2>
                            </div>
                            <br>
                            <ol class="perfil">
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    El campo laboral del ingeniero en electrónica es amplio, entre ellas incluye
                                    empresas productivas, empresas de servicios, compañías petroleras,
                                    industrias automovilísticas, compañías de electricidad, represas hidroeléctricas,
                                    sistemas de redes de comunicación, de telecomunicaciones, sectores industriales
                                    públicos y privados. Además, este profesional puede desempeñar.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Autoridades de la carrera</h2>
                <section id="team" class="team centered-section">
                    <div class="container" data-aos="fade-up" id="container-consejo">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-3 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="150">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="{% static "img/directores/ingArredondo.png" %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>Ing. Derlis Rodrigo Arredondo Onieva</h4>
                                        <span><b>Director de Carrera</b></span>
                                        <p class="consejo-contenido">darredondo@fctunca.edu.py</p>
                                        <p class="consejo-contenido">+595981436858</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </section>
  </main><!-- End #main -->
{% include 'footer.html' %}