{% load static %}
{% include "header.html" %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <<section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu">Carreras</li>
            <li class="breadSeccion">Ingeniería Civil</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up"><strong>Ingeniería Civil</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="testimonials custom-testimonial" id="testimonials_mision">
        <div class="containerText" data-aos="fade-up">
            <div class="titulacion row align-items-start">
                <table>
                    <tr>
                        <td><h5>Duración:</h5>
                            5 años
                        </td>
                        <td><h5>Título:</h5>
                            Ingeniero/a Civil
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                        <div class="objetivosDeCarreara">
                              <h2><i class="bi bi-patch-check"></i> Objetivos de la carrera</h2>
                        </div>
                        <br>
                        <p>
                            Formar Ingenieros Civiles con conocimientos científicos y
                            tecnológicos, de excelencia, competentes, con sentido crítico,
                            ético y responsabilidad social.
                        </p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up"  data-aos-delay="250" class="testimonial-item custom-testimonial-items">
                <div>
                <div class="habilidades">
                    <h2><i class="bi bi-gear"></i> Habilidades</h2>
                </div>
                <p>
                    <div class="d-flex flex-column ps-3" id="habilidades-item">
                        <div class="row">
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="100" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Desarrollar y ejecutar proyectos de ingeniería civil
                                </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="200" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Creatividad e imaginación
                                </span>
                            </div>
                        </div>
                        <br>
                    <div class="row">
                        <div class="col">
                            <span data-aos="fade-up"  data-aos-delay="300" class="habilidades-custom">
                                <i class="bi bi-check-square" id="check-habilidad"></i>
                                Capacidad de observación y análisis
                            </span>
                        </div>
                        <div class="col">
                            <span data-aos="fade-up"  data-aos-delay="400" class="habilidades-custom">
                                <i class="bi bi-check-square" id="check-habilidad"></i>
                                Habilidad para resolver problemas que impliquen
                            </span>
                            <span data-aos="fade-up"  data-aos-delay="400" class="habilidades-custom">
                                razonamientomatemático y físico
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <span data-aos="fade-up"  data-aos-delay="500" class="habilidades-custom">
                                <i class="bi bi-check-square" id="check-habilidad"></i>
                                Habilidades para trabajar en equipo, para analizar,
                            </span>
                            <span data-aos="fade-up"  data-aos-delay="500" class="habilidades-custom">
                                sintetizar y evaluar procesos de toma de decisión,
                            </span>
                            <span data-aos="fade-up"  data-aos-delay="500" class="habilidades-custom">
                                incluso bajo presión.
                            </span>
                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="600" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad para enfrentar retos.
                                </span>
                            </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <span data-aos="fade-up"  data-aos-delay="650" class="habilidades-custom">
                                <i class="bi bi-check-square" id="check-habilidad"></i>
                                Habilidad para administrar recursos,
                            </span>

                            </div>
                            <div class="col">
                                <span data-aos="fade-up"  data-aos-delay="700" class="habilidades-custom">
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Capacidad de proponer soluciones a problemas en
                                </span>
                                <span data-aos="fade-up"  data-aos-delay="700" class="habilidades-custom">
                                    su área de acciónpriorizando el interés por el
                                </span>
                                <span data-aos="fade-up"  data-aos-delay="700" class="habilidades-custom">
                                    bienestar de la comunidad y la sociedad en general.
                                </span>
                            </div>
                    </div>
                    <br><br>
                </div>
                </div>
            </div>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Plan de estudio y malla curricular</h2>
            <section id="pricing" class="pricing">
                <div class="planymalla">
                <div class="container" data-aos="fade-up">
                    <div class="row gy-4 justify-content-center" data-aos="fade-left">
                        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="box">
                                <h3 class="breadInicio">Malla Curricular</h3>
                                <ul class="card-body">
                                    <li>Plan 2013 - imagen</li>
                                </ul>
                                <div class="card-footer">
                                    <a href="https://fctunca.edu.py/application/files/5815/4833/6356/Malla_Curricular_-_Civil19.pdf"
                                       class="btn-buy">
                                        <i class="bi bi-eye ">
                                        </i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                            <div class="box">
                                <h3 class="breadInicio">Proyecto educativo actual</h3>
                                <ul>
                                    <li>Proyecto educativo actual - 2014</li>
                                </ul>
                                <a href="https://www.fctunca.edu.py/application/files/1115/0945/2172/PEI_Ing._Civil_-_CONES.pdf" class="btn-buy"><i class="bi bi-eye "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-check"></i> Perfil de egresado</h2>
                            </div>
                            <br>
                            <ol class="perfil">
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Agente de cambio y líder de un mundo globalizado,
                                    con capacidad de innovación, creatividad y habilidades para asumir los desafíos.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Con conocimientos científicos y técnicos generales en las áreas de Vías de
                                    Comunicación, Estructuras, Construcciones, Saneamiento e Hidráulica,
                                    para planear, diseñar, construir, dar mantenimiento y rehabilitar así como
                                    evaluar, presupuestar, supervisar y controlar la calidad de las obras.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Con capacidad de mantenerse actualizado, de emplear lenguajes y paquetes
                                    computacionales como herramientas de la ingeniería civil, de establecer y
                                    mantener contactos científicos y técnicos avanzados, de participar en
                                    eventos académicos y cursos profesionales y celebrar consultas con otras
                                    especialidades y disciplinas conexas.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row align-items-start">
                    <div class="col">
                        <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                            <div class="objetivosDeCarreara">
                                <h2><i class="bi bi-person-fill-gear"></i> Campo de trabajo</h2>
                            </div>
                            <br>
                            <ol class="perfil">
                                <li class="parrafo_electronica">
                                    El profesional podrá desempañarse adecuadamente en los siguientes campos de acción:
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño, construcción y operación de vías de comunicación.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño, construcción y operación de plantas de Potabilización.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Acueductos.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño, construcción y operación de sistemas de tratamiento
                                    de aguas residuales y alcantarillados.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño y construcción de estructuras para vivienda.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño y construcción de Puentes.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño y construcción de obras de Estabilización de suelos y taludes.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño y construcción de estructuras Hidráulicas.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño y construcción de pavimentos.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño y construcción de sistemas de saneamiento básico.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Supervisión de obras civiles tanto en empresas públicas como privadas.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Topografía, cartografía, geodesia y catastro.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Administrador de obras y/o empresas públicas, autónomas
                                    o privadas, relacionadas con el desarrollo de infraestructura física.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Docencia y Administración Universitaria.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Empresario independiente.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Diseño de programas y planes de Ordenamiento territorial.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Elaboración de presupuestos y programación de obra.
                                </li>
                                <br>
                                <li>
                                    <i class="bi bi-check-square" id="check-habilidad"></i>
                                    Consultoría de obras civiles.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Autoridades de la carrera</h2>
            <div class="director_carrera">
                <section id="team" class="team centered-section">
                    <div class="container" data-aos="fade-up" id="container-consejo">
                        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-3 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="150">
                                <div class="member">
                                    <div class="member-img">
                                        <img src="{% static "" %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info">
                                        <h4>ING. Fredy Gabriel Ramirez Villanueva</h4>
                                        <span><b>Director de Carrera</b></span>
                                        <p class="consejo-contenido">framirez@fctunca.edu.py</p>
                                        <p class="consejo-contenido">+595971402340</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="containerText" data-aos="fade-up">
            <div class="acreditacion row align-items-start">
                <h2>
                    ¡La Unca es una de las 3 Universidades Nacionales que cuenta con la carrera de Ing. Civil!
                </h2>
            </div>
        </div>
    </section>
  </main><!-- End #main -->
{% include "footer.html"%}