{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu" >Institucional</li>
            <li class="breadSeccion">Consejo Directivo</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up" ><strong>Consejo Directivo</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
          <h2 id="Titutlo-Consejo" data-aos="fade-up" data-aos-delay="100">Miembros del Consejo Directivo</h2>
          <section id="team" class="team centered-section">

      <div class="container" data-aos="fade-up" id="container-consejo">



        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Ing. Alfredo Moreno Sosa</h4>
                <span><b>Decano</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Ing. Roberto Rosa Chávez Ayala</h4>
                <span><b>Vicedecano</b></span>
            <p class="consejo-contenido">correo@fctunca.edu.py</p>              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Ing. Pedro Pastor González Rodríguez.</h4>
                  <span><b>Representante Docente</b></span>
                  <p class="consejo-contenido">correo@fctunca.edu.py</p>              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Ing. Héctor R. Estigarribia Barreto.</h4>
                  <span><b>Representante Docente</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>                </div>
            </div>
          </div>
                      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Ing. Jorge Manuel Bertolo Verdecchia</h4>
                  <span><b>Representante Docente</b></span>
<p class="consejo-contenido">correo@fctunca.edu.py</p>               </div>
            </div>
          </div>

                      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Ing. Richard N. Rojas Mercado.</h4>
                  <span><b>Representante Docente</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prof. Lic. Hugo Alfredo Recalde.</h4>
                  <span><b>Representante Docente</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Univ. Willy Alfredo Valenzuela Toppi.

</h4>
                <span><b>Representante Estudiante</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>
              </div>
            </div>
          </div>
             <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Univ. Richart Daniel Barrios Fleitas.

</h4>
                  <span><b>Representante Estudiante</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>
              </div>
            </div>
          </div>
             <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ing. Cristhian Javier Duarte Bogado

</h4>
                  <span><b>Representante Graduado No docente Titular</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>
              </div>
            </div>
          </div>
             <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="member">
              <div class="member-img">
                <img src="{% static "img/usuario.jpg" %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ing. Gustavo Velázquez Benítez

</h4>
                <span><b>Representante Graduado No docente Suplente</b></span>
                <p class="consejo-contenido">correo@fctunca.edu.py</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- End Team Section -->
      </div>

    </section>

  </main><!-- End #main -->

{% include "footer.html" %}