{% load static %}
{% include "header.html" %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a class="breadInicio" href="inicio/">Inicio</a></li>
                <li class="breadMenu">Transparencia</li>
                <li class="breadMenu">Transparencia Ley 5189/2014</li>
                <li class="breadSeccion">Direccion de Telefono y Dependencias</li>
            </ol>
        </div>
    </section>
    <section class="tittle">
        <div class="container-titulo">
            <h1 class="tittlecolor" data-aos="fade-up"><strong>Direccion de Telefono y Dependencias</strong></h1>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="containerDireccionTel">
            <div class="columnDirection">
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">Facultad de Ciencias y Tecnologias</span>
                    </header>
                    <article class="direcTelBody">
                        <p><strong>Dirección: </strong>Stgo. Florentino Benítez e/ Padre Molas y Fabián Ojeda</p>
                        <p><strong>Teléfono: </strong>(0521) 201548 – 0981 324 523</p>
                        <p><strong>Correo Electrónico: </strong>info@fctunca.edu.py</p>
                    </article>
                </div>
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">Secretaría General</span>
                    </header>
                    <article class="direcTelBody">
                        <strong class="funName fs-5">Lic. Elena Florentín de Vera</strong>
                        <p class="mt-2"><strong>Correo Electrónico: </strong>secretariageneral@fctunca.edu.py</p>
                    </article>
                </div>
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">MECIP</span>
                    </header>
                    <article class="direcTelBody">
                        <strong class="funName fs-5">Abg. Nelson Meza</strong>
                        <p class="mt-2"><strong>Correo Electrónico: </strong>nmeza@fctunca.edu.py</p>
                    </article>
                </div>
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">Coordinación de Gestión y Soporte Informatico</span>
                    </header>
                    <article class="direcTelBody">
                        <strong class="funName fs-5">Lic. Alex Gutiérrez</strong>
                        <p class="mt-2"><strong>Correo Electrónico: </strong>agutierrez@fctunca.edu.py</p>
                    </article>
                </div>
            </div>
            <div data-aos="fade-up" class="direcCard">
                <header class="direccionTelContainer">
                    <span class="direccionTelTitle">Dirección Academica</span>
                </header>
                <article class="direcTelBody">
                    <strong class="funName fs-5">Ing. Julio César Coronel Ramoa</strong>
                    <p class="mt-2"><strong>Correo Electrónico: </strong>jcoronel@fctunca.edu.py</p>
                    <p><strong>Contacto: </strong>+595 971 416 107</p>
                    <p><strong>Carrera: </strong>Ing. en Informatica</p>
                    <hr>
                    <strong class="funName fs-5">Ing. Derlis Rodrigo Arredondo Onieva</strong>
                    <p class="mt-2"><strong>Correo Electrónico: </strong>darrendondo@fctunca.edu.py</p>
                    <p><strong>Contacto: </strong> +595 981 436 858</p>
                    <p><strong>Carrera: </strong>Ing. en Electrónica</p>
                    <hr>
                    <strong class="funName fs-5">Ing. Pedro Pastor David González Rodríguez</strong>
                    <p class="mt-2"><strong>Correo Electrónico: </strong>pedropastor@fctunca.edu.py</p>
                    <p><strong>Contacto: </strong>:+595 992 558 813</p>
                    <p><strong>Carrera: </strong>Ing. en Eletricidad</p>
                    <hr>
                    <strong class="funName fs-5">Ing. Joaquin Jose Medina Meza</strong>
                    <p class="mt-2"><strong>Correo Electrónico: </strong>jmedina@fctunca.edu.py</p>
                    <p><strong>Contacto: </strong>+595 994 238 318</p>
                    <p><strong>Carrera: </strong>Ing. Civil</p>
                </article>
            </div>
            <div class="columnDirection">
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">Curso Preparatorio de Ingreso (CPI)</span>
                    </header>
                    <article class="direcTelBody">
                        <strong class="funName fs-5">Lic. Laura Violeta Meza</strong>
                        <p class="mt-2"><strong>Correo Electrónico: </strong>laurameza@fctunca.edu.py</p>
                        <p><strong>Contacto: </strong>+595 981 518473</p>
                    </article>
                </div>
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">Dirección de Investigación</span>
                    </header>
                    <article class="direcTelBody">
                        <strong class="funName fs-5">Ing. Mgtr Hector Ramiro Estigarribia Barreto</strong>
                        <p class="mt-2"><strong>Correo Electrónico: </strong>hestigarribia64@fctunca.edu.py</p>
                        <p><strong>Contacto: </strong>+595 981 324 523</p>
                    </article>
                </div>
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">Dirección de Extensión</span>
                    </header>
                    <article class="direcTelBody">
                        <strong class="funName fs-5">Carlos Anibal Casco.</strong>
                        <p class="mt-2"><strong>Correo Electrónico: </strong>carlos.casco05@fctunca.edu.py</p>
                    </article>
                </div>
                <div data-aos="fade-up" class="direcCard">
                    <header class="direccionTelContainer">
                        <span class="direccionTelTitle">Bienestar Estudiantil</span>
                    </header>
                    <article class="direcTelBody">
                        <strong class="funName fs-5">Lic. Ángeles Silguero</strong>
                        <p class="mt-2"><strong>Correo Electrónico: </strong>asilguero@fctunca.edu.py</p>
                        <p><strong>Contacto: </strong>+595 981 518473</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

{% include "footer.html" %}