{% load static %}
{% include "header.html" %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a class="breadInicio" href="inicio/">Inicio</a></li>
                <li class="breadMenu">Transparencia</li>
                <li class="breadMenu">Transparencia Ley 5189/2014</li>
                <li class="breadSeccion">Nómina de Funcionarios por Año</li>
            </ol>
        </div>
    </section>
    <section class="tittle">
        <div class="container-titulo">
            <h1 class="tittlecolor" data-aos="fade-up"><strong>Nómina de Funcionarios por Año</strong></h1>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <section data-table="table1" class="table__header justify-content-between w-75 align-items-center m-auto">
            <h4 class="transparencyTableYear fw-bold m-0">Año 2021</h4>
        </section>
        <section class="table__bodyTransparencia">
            <table data-table="table1">
                <thead>
                <tr>
                    <th> Numero</th>
                    <th> Título</th>
                    <th> Descripción</th>
                    <th> Institución</th>
                    <th> Fecha</th>
                    <th> Enlace</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3</td>
                    <td>Nómina de Funcionarios</td>
                    <td> Nómina de Funcionarios - Diciembre 2021</td>
                    <td>FCyT</td>
                    <td>2021-12-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/3216/4276/2476/Planilla_Diciembre_y_Aguinaldo_2020_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Noviembre 2021</td>
                    <td>FCyT</td>
                    <td>2021-11-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/2216/3975/6902/PLANILLAS_MENSUALES_-_NOVIEMBRE_2021.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Octubre 2021</td>
                    <td>FCyT</td>
                    <td>2021-10-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/7316/8052/5998/Planilla_Octubre_2021_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </section>
        <section class="table__header justify-content-between w-75 align-items-center m-auto">
            <h4 class="transparencyTableYear fw-bold m-0">Año 2022</h4>
        </section>
        <section class="table__bodyTransparencia">
            <table>
                <thead>
                <tr>
                    <th> Numero</th>
                    <th> Título</th>
                    <th> Descripción</th>
                    <th> Institución</th>
                    <th> Fecha</th>
                    <th> Enlace</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>12</td>
                    <td>Nómina de Funcionarios</td>
                    <td> Nómina de Funcionarios - Diciembre 2022</td>
                    <td>FCyT</td>
                    <td>2022-12-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/5316/7603/0509/Planilla_de_Funcionarios_Diciembre_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td> Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Noviembre 2022</td>
                    <td>FCyT</td>
                    <td>2022-11-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/6116/7602/7430/Planilla_NOVIEMBRE_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Octubre 2022</td>
                    <td>FCyT</td>
                    <td>2022-10-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/4316/6747/6153/Planilla_OCTUBRE_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Setiembre 2022</td>
                    <td>FCyT</td>
                    <td>2022-09-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/3216/6548/6782/Planilla_SEPTIEMBRE_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Agosto 2022</td>
                    <td>FCyT</td>
                    <td>2022-08-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/institucion/transparencia-ley-n-51892014/nomina-de-funcionarios-por-ano/iiii"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Julio 2022</td>
                    <td>FCyT</td>
                    <td>2022-07-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/5516/6022/2499/Planilla_JULIO_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Junio 2022</td>
                    <td>FCyT</td>
                    <td>2022-06-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/4516/5693/3734/Planilla_JUNIO_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Mayo 2022</td>
                    <td>FCyT</td>
                    <td>2022-05-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/7016/5454/6200/Planilla_ABRIL_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Abril 2022</td>
                    <td>FCyT</td>
                    <td>2022-04-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/7016/5454/6200/Planilla_ABRIL_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Marzo 2022</td>
                    <td>FCyT</td>
                    <td>2022-03-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/9216/5036/8022/PLANILLA_MARZO_2022_PDF.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Febrero 2022</td>
                    <td>FCyT</td>
                    <td>2022-02-28</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/5716/4751/9740/Planilla_Febrero_2022_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Enero 2022</td>
                    <td>FCyT</td>
                    <td>2022-01-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/1216/4509/4484/Planilla_-_Enero_2022.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </section>
        <section class="table__header justify-content-between w-75 align-items-center m-auto">
            <h4 class="transparencyTableYear fw-bold m-0">Año 2023</h4>
        </section>
        <section class="table__bodyTransparencia">
            <table>
                <thead>
                <tr>
                    <th> Numero</th>
                    <th> Título</th>
                    <th> Descripción</th>
                    <th> Institución</th>
                    <th> Fecha</th>
                    <th> Enlace</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>12</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Diciembre 2023</td>
                    <td>FCyT</td>
                    <td>2023-12-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/4517/0558/1192/Planilla_DICIEMBRE_2023_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Noviembre 2023</td>
                    <td>FCyT</td>
                    <td>2023-11-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/4417/0229/9616/Planilla_NOVIEMBRE_2023_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Octubre 2023</td>
                    <td>FCyT</td>
                    <td>2023-10-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/5716/9952/7214/Planilla_OCTUBRE_2023_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Setiembre 2023</td>
                    <td>FCyT</td>
                    <td>2023-09-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/2516/9650/4278/Planilla_SEPTIEMBRE_2023_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Agosto 2023</td>
                    <td>FCyT</td>
                    <td>2023-08-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/1716/9400/3061/Planilla_AGOSTO_2023_FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Julio 2023</td>
                    <td>FCyT</td>
                    <td>2023-07-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/6016/9098/7682/Planilla_JULIO_2023FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Junio 2023</td>
                    <td>FCyT</td>
                    <td>2023-06-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/5316/8855/9969/Planilla_JUNIO_2023FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Mayo 2023</td>
                    <td>FCyT</td>
                    <td>2023-05-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/3716/8607/5583/Planilla_MAYO_2023FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Abril 2023</td>
                    <td>FCyT</td>
                    <td>2023-04-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/7616/8355/0715/Planilla_ABRIL_2023FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Marzo 2023</td>
                    <td>FCyT</td>
                    <td>2023-03-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/7616/8355/0715/Planilla_ABRIL_2023FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Febrero 2023</td>
                    <td>FCyT</td>
                    <td>2023-02-28</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/3416/7810/0037/Planilla_FEBRERO_2023FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Enero 2023</td>
                    <td>FCyT</td>
                    <td>2023-01-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/3616/7775/5256/Planilla_ENERO_2023FCyT.pdf"
                           target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="table__header justify-content-between w-75 align-items-center m-auto">
            <h4 class="transparencyTableYear fw-bold m-0">Año 2024</h4>
        </section>
        <section class="table__bodyTransparencia">
            <table>
                <thead>
                <tr>
                    <th> Numero</th>
                    <th> Título</th>
                    <th> Descripción</th>
                    <th> Institución</th>
                    <th> Fecha</th>
                    <th> Enlace</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Octubre 2024</td>
                    <td>FCyT</td>
                    <td>2024-10-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/3717/3134/6282/PLANILLA_OCTUBRE_FCYT_2024.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Setiembre 2024</td>
                    <td>FCyT</td>
                    <td>2024-09-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/5017/2804/2183/PLANILLA_SETIEMBRE_FCYT_2024.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Agosto 2024</td>
                    <td>FCyT</td>
                    <td>2024-08-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/2017/2530/0989/PLANILLA_AGOSTO_FCYT_2024.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Julio 2024</td>
                    <td>FCyT</td>
                    <td>2024-07-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/5817/2312/9781/Planilla_julio_2024_FCyT.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Junio 2024</td>
                    <td>FCyT</td>
                    <td>2024-06-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/1617/2061/2749/Planilla_junio_2024_FCyT.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Mayo 2024</td>
                    <td>FCyT</td>
                    <td>2024-05-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/2617/1983/5749/Planilla_MAYO_2024_FCyT.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Abril 2024</td>
                    <td>FCyT</td>
                    <td>2024-04-30</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/3217/1526/1159/Planilla_ABRIL_2024_FCyT1.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Marzo 2024</td>
                    <td>FCyT</td>
                    <td>2024-03-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/7117/1321/4242/Nomina_de_Funcionarios_Administrativos_y_Docentes_FCyT_Unca_-_MARZO_2024.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Febrero 2024</td>
                    <td>FCyT</td>
                    <td>2024-02-29</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/4917/0981/1512/Planilla_FEBRERO_2024_FCyT.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Nómina de Funcionarios</td>
                    <td>Nómina de Funcionarios - Enero 2024</td>
                    <td>FCyT</td>
                    <td>2024-01-31</td>
                    <td>
                        <a href="https://www.fctunca.edu.py/application/files/1617/0843/8688/Planilla_ENERO_2024_FCyT.pdf" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-download"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>

</main><!-- End #main -->

{% include "footer.html" %}