{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu" >Institucional</li>
            <li class="breadSeccion">Marco Legal</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up" ><strong>Marco Legal</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->


         
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 class="breadInicio">Carta Orgánica</h3>
              <ul>
                <li>Ley N° 3385 Que aprueba la Carta Orgánica de la Universidad Nacional de Caaguazú, con sede en Coronel Oviedo.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 class="breadInicio">Reglamento Académico FCyT</h3>
              <ul>
                <li>Reglamento Académico de la Facultad de Ciencias y Tecnologías, aprobado por Resolución del C.S.U. 25/2016 según acta N° 005/2016 del 1 de marzo de 2016.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 class="breadInicio">Derechos, Resposabilidades, Regimen Disciplinario. Sinopsis</h3>
          
              
              <ul>
                <li>Derechos y Responsabilidades de los Docentes.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Extensión Universitaria</h3>
              <ul>
                <li>Reglamento General de Extensión Universitaria de la Universidad Nacional de Caaguazú</li>
              </ul>
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>
            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Investigación UNCA</h3>
              <ul>
                <li>Reglamento General de Investigación de la Universidad Nacional de Caaguazú. Aprobado por Resolución del C.S.U. N° 107/2015, según Acta N° 29/2015, de fecha 17 de noviembre de 2015.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Proyecto Final de Grado de la FCyT</h3>
              <ul>
                <li>Reglamento interno del Proyecto Final de Grado de la Facultad de Ciencias y Tecnologías de la UNCA, aprobado por Resolución C.S.U. N° 077/2016, según acta N° 014/2016, del 19 de julio de 2016. Actualizado por Res. CD 117/22 del 28/11/22.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 class="breadInicio">Guia para elaboracion y presentacion de proyectos de investigacion en la FCyT</h3>
          
              
              <ul>
                <li>Guia para elaboracion y presentacion de proyectos de investigacion en la FCyT aprobado por Res. del C.D. N° 059/17 según acta N° 10/2017 del 8 de mayo de 2017.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <h3 class="breadInicio">Código de ética FCyT</h3>
              <ul>
                <li>Código de ética de la Facultad de Ciencias y Tecnologías, aprobado por Res. 36/2014 del 23 de setiembre de 2014, según acta 23/2014.</li>
              </ul>
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>
            
            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Pasantía FCyT</h3>
              <ul>
                <li>Reglamento de pasantía aprobado por Resolución CSU 78/2016 del 19 de julio de 2016.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 class="breadInicio">Líneas de investigación FCyT</h3>
              <ul>
                <li>Líneas de investigación de las 4 carreras de la FCyT aprobadas por Res. N° 097/17 del 21 de agosto de 2017.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 class="breadInicio">Politica de comunicación Interna y Externa de la FCyT</h3>
          
              
              <ul>
                <li>Resolucion N° 47/2016 por la cual se aprueba la politica de comunicación interna y externa de la facultad.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

        
            

        </div>

      </div>

    </section>

  </main><!-- End #main -->

{% include "footer.html" %}