{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <<section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu">Institucional</li>
            <li class="breadSeccion">Misión, Visión y Valores</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h4 data-aos="fade-up"><strong>Misión, Visión y Valores</strong></h4>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="testimonials custom-testimonial" id="testimonials_mision">
      <div class="containerText">
          <div class="row align-items-start">
              <div class="col">
                  <div class="testimonial-item custom-testimonial-items">
                          <div class="mision">
                          <h2>Misión</h2>
                          </div>
                          <br>
                          <p>
                              Formar profesionales excelentes con conocimientos científicos y tecnológicos, competentes,
                              con sentido crítico, ético y responsabilidad social.
                          </p>
                  </div>
              </div>
              <div class="col">
                  <div class="testimonial-item custom-testimonial-items">
                          <div class="vision">
                              <h2>Visión</h2>
                          </div>
                          <br>
                          <p>
                              Ser una Facultad líder, con excelencia en la formación de profesionales que contribuyan
                              al desarrollo del país.
                          </p>
                      </div>
              </div>
          </div>

          <div class="testimonial-item custom-testimonial-items">
              <div>
              <div class="valores">
                  <h2>Valores</h2>
              </div>
              <p>
              <div class="d-flex flex-column ps-3">
                  <div class="row">
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="50" style="padding: 7px 7px 7px 30px;">Integridad.</span>
                      </div>
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="100" style="padding: 7px 7px 7px 30px">Empatía.</span>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="150" style="padding: 7px 7px 7px 30px">Excelencia.</span>
                      </div>
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="200" style="padding: 7px 7px 7px 30px">Compromiso.</span>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="250" style="padding: 7px 7px 7px 30px">Responsabilidad.</span>
                      </div>
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="300" style="padding: 7px 7px 7px 30px">Humildad.</span>
                      </div>
                  </div>
                  <br>
                    <span data-aos="fade-up"  data-aos-delay="350" style="padding: 7px 7px 7px 30px">Iniciativa.</span>
                  <br>
               </div>
          </div>
          </div>
        </p>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}
