{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs" style="background-color: transparent; margin-bottom: 0px; padding-bottom: 0px">
      <div class="container">
        <ol>
          <li><a style="color: #006fdd" href="index.html">Inicio</a></li>
          <li style="color: #006fdd">Institucional</li>
            <li style="color: black">Misión, Visión y Valores</li>
        </ol>
      </div>
    </section>
      <section class="breadcrumbs" style="padding-top: 0px; margin-top: 0px">
      <div class="container-titulo">
          <h1 data-aos="fade-up" style="color: black"><strong>Misión, Visión y Valores</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
          <div class="row align-items-start">
              <div class="col">
                  <div>
                          <div class="mision">
                          <h2>Misión</h2>
                          </div>
                          <br>
                          <p style="margin: 20px">
                              Formar profesionales excelentes con conocimientos científicos y tecnológicos, competentes,
                              con sentido crítico, ético y responsabilidad social.
                          </p>
                      </div>
              </div>
              <div class="col">
                  <div>
                          <div class="vision">
                              <h2>Visión</h2>
                          </div>
                          <br>
                          <p style="margin: 20px">
                              Ser una Facultad líder, con excelencia en la formación de profesionales que contribuyan
                              al desarrollo del país.
                          </p>
                      </div>
              </div>
          </div>
          <br><br>
          <div style="justify-content: center; display: flex">
              <div style="width: 670px">
              <div style="background-color: #006fdd; color: #fff; padding: 40px; border-radius: 30px 30px 30px 0">
                  <h2>Valores</h2>
              </div>
              <p>
              <div class="d-flex flex-column ps-3">
                    <span data-aos="fade-up"  data-aos-delay="50" style="padding: 7px 7px 7px 30px;">Integridad.</span>
                    <span data-aos="fade-up"  data-aos-delay="100" style="padding: 7px 7px 7px 30px">Empatía.</span>
                    <span data-aos="fade-up"  data-aos-delay="150" style="padding: 7px 7px 7px 30px">Excelencia.</span>
                    <span data-aos="fade-up"  data-aos-delay="200" style="padding: 7px 7px 7px 30px">Compromiso.</span>
                    <span data-aos="fade-up"  data-aos-delay="250" style="padding: 7px 7px 7px 30px">Responsabilidad.</span>
                    <span data-aos="fade-up"  data-aos-delay="300" style="padding: 7px 7px 7px 30px">Humildad.</span>
                    <span data-aos="fade-up"  data-aos-delay="350" style="padding: 7px 7px 7px 30px">Iniciativa.</span>
               </div>
          </div>
          </div>
        </p>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}
