{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <<section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu">Institucional</li>
            <li class="breadSeccion">Misión, Visión y Valores</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up"><strong>Misión, Visión y Valores</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="testimonials custom-testimonial" id="testimonials_mision">
      <div class="containerText" id="containerMision">
          <div class="row align-items-start">
              <div class="col">
                  <div data-aos="fade-up"  data-aos-delay="50" class="testimonial-item custom-testimonial-items">
                          <div class="mision">
                          <h2><i class="bi bi-card-checklist "></i> Misión</h2>
                          </div>
                          <br>
                          <p>
                              Formar profesionales excelentes con conocimientos científicos y tecnológicos, competentes,
                              con sentido crítico, ético y responsabilidad social.
                          </p>
                  </div>
              </div>
              <div class="col">
                  <div data-aos="fade-up"  data-aos-delay="150" class="testimonial-item custom-testimonial-items">
                          <div class="vision">
                              <h2><i class="bi bi-buildings"></i> Visión</h2>
                          </div>
                          <br>
                          <p>
                              Ser una Facultad líder, con excelencia en la formación de profesionales que contribuyan
                              al desarrollo del país.
                          </p>
                      </div>
              </div>
          </div>

          <div data-aos="fade-up"  data-aos-delay="250" class="testimonial-item custom-testimonial-items">
              <div>
              <div class="valores">
                  <h2><i class="bi bi-patch-check "></i> Valores</h2>
              </div>
              <p>
              <div class="pb-5" id="valores_col">
                  <div class="row" id="valores_row">
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="300" class="valores-custom">Integridad.</span>
                      </div>
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="400" class="valores-custom">Empatía.</span>
                      </div>
                  </div>
                  <br>
                  <div class="row" id="valores_row">
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="500" class="valores-custom">Excelencia.</span>
                      </div>
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="600" class="valores-custom">Compromiso.</span>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="700" class="valores-custom">Responsabilidad.</span>
                      </div>
                      <div class="col">
                          <span data-aos="fade-up"  data-aos-delay="800" class="valores-custom">Humildad.</span>
                      </div>
                  </div>
                  <br>
                    <span data-aos="fade-up"  data-aos-delay="800" class="valores-custom">Iniciativa.</span>
                  <br>
               </div>
          </div>
          </div>
        </p>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}
