{% load static %}

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/inicio" class="logo d-flex align-items-center">
        <img src="{% static "img/logofcytunca.png" %}" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero"><i style="font-size: 20px;" class="bi bi-house"></i></a></li>
          <li class="dropdown"><a href="#"><span>Institucional</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/historia">Reseña Histórica</a></li>
              <li><a href="/misionvision">Mision, Vision y Valores</a></li>
              <li><a href="#">Autoridades</a></li>
              <li><a href="/consejo">Consejo Directivo</a></li>
                <li><a href="/resolucion">Resolusiones</a></li>
                <li><a href="/identidad">Identidad</a></li>
                <li><a href="#">Organigrama</a></li>
                <li><a href="/acuerdos">Acuerdo y Convenios</a></li>
                <li><a href="#">Dependencias</a></li>
                <li><a href="#">Politicas y Reglamentos</a></li>
                <li><a href="/marcolegal">Marco Legal</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Academico</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Aranceles</a></li>
              <li><a href="#">Calendario Academico</a></li>
              <li><a href="#">Guia Academica</a></li>
                <li><a href="#">Reglamento Academico</a></li>
              <li><a href="#">Horarios de Clases y Examenes</a></li>
                <li><a href="/bienestar_estudiantil">Bienestar Estudiantil</a></li>
                <li><a href="#">Mobilidad Academica y Pasantia</a></li>
                <li><a href="#">Concurso Docente</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Carreras</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/informatica">Ingenieria en Sistemas Informaticos</a></li>
              <li><a href="/electronica">Ingenieria en Electronica</a></li>
              <li><a href="/electricidad/">Ingenieria en Electricidad</a></li>
              <li><a href="#">Ingenieria Civil</a></li>
                <li><a href="#">Postgrado</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Admision</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Examenes de Admision</a></li>
              <li><a href="#">Resultados de Examenes de Admision</a></li>
              <li><a href="#">Lista de Ingresantes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Extension</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Extension Universitaria</a></li>
              <li><a href="#">Reglamentos de Extesion Universitaria</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Investigacion</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li><a href="#">Drop Down 1</a></li>
                <li><a href="#">Drop Down 1</a></li>
                <li><a href="#">Drop Down 1</a></li>
                <li><a href="#">Drop Down 1</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Transparencia </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Ley Nº 5189/2014</a></li>
              <li><a href="#">MECIP</a> </li>
            </ul>
          </li>


          <!--<li><a class="getstarted scrollto" href="#about">Get Started</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->