{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu" >Institucional</li>
            <li class="breadSeccion">Identidad</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up" ><strong>Identidad</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
          <h2 class="centertitle" data-aos="fade-up"> El logo Institucional</h2>
            <br>
          <p data-aos="fade-up">
          Ha sido ideado pensando en las necesidades de todas aquellas personas
            responsables de interpretar, articular, comunicar y aplicar la Marca Institucional en sus diferentes ámbitos.
            En él se recogen todas las normas que se deben seguir a la hora de usar el isologo en cualquiera de sus aplicaciones, así como las normas
            acerca del color, tipografía y los tamaños.
            Todas éstas normas deben de aplicarse para que el branding de la Institución tenga una cohesión entre todos sus elementos.
          </p>
          <br><br>
           <h2 class="centertitle" data-aos="fade-up"> Simbología Básica</h2>
            <br>
            <img data-aos="fade-up" class="containerlogoFCytIdentidad-img" src="{% static "img/LogoFCyT.png" %}" alt="LogoFCyT">
            <br><br>
            <p data-aos="fade-up">
                Para evitar resultados no deseados en la puesta en práctica de la marca FACULTAD DE CIENCIAS Y TECNOLOGÍAS se tienen que seguir
            una serie de normas genéricas.
            La marca está construida a base de un isologo y colores que se deberán respetar para su uso correcto.
                </p>
           <br><br>
             <h2 class="containerTitleIdent"> Isologo Institucional</h2>
            <br>
            <img class="containerisologoinst-img" src="{% static "img/isologoinstitucional.png" %}" alt="isoLogoInstitucional">
            <br>
            <b class="containerTextAnim">
                La morfología del isologo está desarrollada por la unión de dos elementos claves.
            </b>
            <br>
            <b class="containerTextAnim">
                El primero:
                </b>
          <p class="containerTextAnim">
                    Es el uso de la estrella de 66 puntas utilizada en el anterior isologo, con un ligero ajuste en el ángulo de las mismas, el cual
            se presenta en 60º, formando tríangulos equiláteros.
            </p>
            <br>
            <b class="containerTextAnim">
                El segundo:
            </b>
          <p class="containerTextAnim">
              La utilización del isotipo en forma de T mayúscula del log anterior evita un cambio brusco en la marca. El mismo simboliza dos perfiles
            que brindan equilibrio y estabilidad, que al presentarse en doble T genera una actitud simétrica de fuerza, trabajo, energía y potencia.
            </p>
          <br>
            <b class="containerTextAnim">
                Además, el color azul
            </b>
          <p class="containerTextAnim">
          Simboliza frescura, estabilidad y profundidad. Representa la inteligencia, sabiduría , verdad, lealtad, fortaleza y confianza.
            Se utilizan las fuentes tipográficas modernas Agency FB (Facultad de Ciencias y Tecnologías - Coronel Oviedo Paraguay) y Montserrat SemiBold (Universidad Nacional
            de Caaguazú - Arandu Poty Rekavo) con otras modificaciones formales.
              </p>
           <br>
            <h2 class="containerTitleIdent">Construcción y Modulación</h2>
            <br>
            <img class="containerconstrucymodu-img" src="{% static "img/construccionymodulacion.png" %}" alt="construccionYModulacion">
            <br>
            <p class="containerTextAnim">
                El isologo se inscribe y construye sobre una superficie modular proporcional al valor X. Se establece como unidad de medida, de ésta manmera, aseguramos la
            correcta proporción de la marca sobre cualquier soporte y medidas
                </p>
           <br>
            <h2 class="containerTitleIdent">Área de Seguridad y Reductibilidad</h2>
            <br>
            <img class="containersecurityredutc-img" src="{% static "img/areadeseguridad.png" %}" alt="areaDeSeguridad">
            <br>
          <p class="containerTextAnim">
            Para asegurar la óptima aplicación y percepción del isologo en todos los soportes y formatos, se ha determinado un área de seguridad que establece una distancia
            mínima respecto a los textos y elementos gráficos equivalente a la novena parte de la altura del imagotipo, con la cual se ha establecido como medida "X"
            </p>
          <p class="containerTextAnim">
          Ningún elemento gráfico debe acercarse al logotipo a una destancia menor que la medida "X".
           </p>
          <br>
            <h2 class="containerTitleIdent">Colorimetría</h2>
            <br>
            <img class="containercolorimetria-img" src="{% static "img/colorimetria.png" %}" alt="colorimetria">
            <br>
          <p class="containerTextAnim">
          Las referencias de color son las aquí especificadas. Si las condiciones de impresión no permiten el uso de éste, el logotipo podrá ser impreso en cuatricromía, o en negro.
            </p>
          <p class="containerTextAnim">
          Estos son los colores princpales de la marca y los que deben predominar.
           </p>
          <br>
            <h2 class="containerTitleIdent">Aplicaciones Correctas</h2>
            <br>
            <img class="containerapliccorrect-img" src="{% static "img/aplicacionescorrectas.png" %}" alt="aplicacionesCorrectas">
            <br>
          <p class="containerTextAnim">
          La máxima visibilidad, legibilidad y contraste tienen que asegurarse en todas las aplicaciones
           </p>
          <p class="containerTextAnim">
          Si el logotipo se tiene que aplicar sobre fondos no corporativos o fotografías, debe aplicarse en blanco o negro, en función de la luminosidad del fondo
          </p>
          <br>
            <h3 class="containerTitleIdent">Tipografía</h3>
            <br>
            <img class="containertipografia-img" src="{% static "img/tipografia.png" %}" alt="tipografia">
            <br>
          <p class="containerTextAnim">
          Utiliza como tipografías principales las Fuentes Agency FB y Montserrat Semibold
           </p>
          <br>
            <h2 class="containerTitleIdent">Restricciones</h2>
            <br>
            <img class="containerrestric-img" src="{% static "img/restricciones.png" %}" alt="restricciones">
            <br>
          <p class="containerTextAnim">
          Las aplicaciones del isologo han sido diseñadas para generar el máximo reconocimiento e imapcto y no deben ser modificadas.
           </p>
            <b class="containerTextAnim">
                No se permite
                </b>
                <ul class="containerTextAnim">
                <li class="containerTextAnim"> Escribir el isologo con otra tipografía. </li>
                <li class="containerTextAnim"> Adicionar elementos ajenos al isologo (bordes, sombras, signos, etc.) </li>
                <li class="containerTextAnim"> Modificar los elementos básicos del isologo en papelería e impresos. </li>
                <li class="containerTextAnim"> Ajustar la altura y el ancho del isologo. </li>
                <li class="containerTextAnim"> Utilizar colores que no pertenezcan al grupo de colores institucionales establecidos. </li>
                    </ul>
                <b class="containerTextAnim">Elementos de diseño
                    </b>
                    <ul>
                <li class="containerTextAnim"> No se pueden utilizar los elementos del isologo para juegos de diseño. </li>
                <li class="containerTextAnim"> En las piezas de comunicación se debe ubicar el isologo completo en un lugar visible. </li>
                    </ul>





        </p>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}