{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="inicio/">Inicio</a></li>
          <li class="breadMenu" >Extensión</li>
            <li class="breadSeccion">Pasantías</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up" ><strong>Pasantías</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
          <section id="pricingPasantia" class="pricing">

      <div class="Pasantiacontainer" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-4 col-md-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 class="breadInicio">Documentos Para Pasantia</h3>
              <ul class="ulPasantia">
                <li>Curriculum Normalizado FCyT</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
                <ul class="ulPasantia">
                    <li>Acuerdo Especifico de Pasantias FCyT UNCA</li>
                </ul >
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 class="breadInicio">Formularios de Solicitud</h3>
              <ul class="ulPasantia">
                <li>Formulario de Solicitud de Pasantia</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
                <ul class="ulPasantia">
                    <li>Formulario de Plan de Pasantia Curricular</li>
                </ul >
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
                <ul class="ulPasantia">
                    <li>Formulario de Evaluacion de la Pasantia</li>
                </ul >
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
                <ul class="ulPasantia">
                    <li>Formulario de Sugerencia del Pasante</li>
                </ul >
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
          </div>
          </div>

          <div class="col-lg-4 col-md-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 class="breadInicio">Formularios de Validación de Pasantía</h3>

              <ul class="ulPasantia">
                <li>Validacion 1</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
                              <ul class="ulPasantia">
                <li>Validacion 2</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
                              <ul class="ulPasantia">
                <li>Validacion 3</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
                              <ul class="ulPasantia">
                <li>Validacion 4</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>

            </div>
          </div>
        </div>
      </div>
    </section>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}