{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu" >Investigación</li>
            <li class="breadSeccion">Reglamento de Investigación</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up" >Reglamentos de Investigación</h1>
      </div>
    </section><!-- End Breadcrumbs -->


         
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Investigación UNCA</h3>
              <ul>
                <li>Reglamento General de Investigación de la Universidad Nacional de Caaguazú. Aprobado por Resolución del C.S.U. N° 107/2015, según Acta N° 29/2015, de fecha 17 de noviembre de 2015.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Investigación FCyT</h3>
              <ul>
                <li>Aprobado por resolución del Consejo Directivo de la Facultad de Ciencias y Tecnologías. N° 019/2014 del 27 de mayo de 2014, según Acta N° 12/2014.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 class="breadInicio">Líneas de investigación FCyT</h3>
          
              
              <ul>
                <li>Resolución del Consejo Directivo de la Facultad de Ciencias y Tecnologías N° 097/2017 según acta 18/2017 del 21 de agosto del 2017 por la cual se aprueban las lineas de investigación para todas las carreras de la Institución
</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <h3 class="breadInicio">Guía para Elaboración y presentación de Proyectos de Investigación de la FCyT</h3>
              <ul>
                <li>Guía para elaboración y presentación de proyectos de investigación en la FCyT aprobado por Res. del C.D. N° 059/17 según acta N° 10/2017 del 8 de mayo de 2017.

</li>
              </ul>
                <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>
            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 class="breadInicio">Norma Paraguaya de orientaciones para la elaboración de trabajos finales académicos o científicos para la Educación Superior</h3>
              <ul>
                  <li>Norma Paraguaya NP 62 001 18, primera edición de octubre del 2018 emitida por el Instituto Nacional de Tecnología, normalización y metrología <a href="#" style="color: #006fdd;">INTN</a></li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 class="breadInicio">Reglamento de Proyecto Final de Grado de la FCyT</h3>
              <ul>
                <li>Reglamento interno del Proyecto Final de Grado de la Facultad de Ciencias y Tecnologías de la UNCA, aprobado por Resolución CD 53/21 Acta 018/21 del 13 de setiembre de 2021 y por Resolución CSU 102/21 Acta 022/21 del 5 de octubre de 2021

<a href="#" style="color: #006fdd;">ACTUALIZADO POR RES. 117/22 CD</a></li>

              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 class="breadInicio">Guia para elaboracion y presentacion de proyectos de investigacion en la FCyT</h3>
          
              
              <ul>
                <li>Guia para elaboración y presentación de proyectos de investigación en la FCyT aprobado por Res. del C.D. N° 059/17 según acta N° 10/2017 del 8 de mayo de 2017.</li>
              </ul>
              <a href="#" class="btn-buy"><i class="bi bi-eye "></i></a>
                <a href="#" class="btn-buy"><i class="bi bi-download "></i></a>
            </div>
          </div>


            





        
            

        </div>

      </div>

    </section>

  </main><!-- End #main -->

{% include "footer.html" %}