{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="inicio/">Inicio</a></li>
          <li class="breadMenu" >Investigacion</li>
            <li class="breadSeccion">Repositorio institucional de la FCyT</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up" ><strong>Repositorio institucional de la FCyT</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
        <p data-aos="fade-up">El Repositorio Institucional de la FCyT es un depósito de documentos digitales, cuyos objetivos son: dar a conocer la producción científica y tecnológica de la comunidad universitaria permitiendo el acceso abierto a sus contenidos, y garantizar la preservación de sus producciones en formato digital.<br><br>

            La colección abarca artículos hechos por alumnos, trabajos de investigación, material docente, tesis de grado, trabajos presentados en eventos y otros documentos en distintos formatos digitales.

<br><br>

            Para el efecto se encuentra en fase de pruebas e implementación el software de código
            abierto DSpace. Participaron del proyecto en una primera etapa en 2017 el univ. Christian Javier Duarte Bogado (egresado 2018), el Lic. Christian Mendieta, encargado de informática de la FCyT, y el Ing. Héctor Estigarribia, Director de investigación. En una segunda etapa participaron en el 2019
            los univ. Fernando Rojas, Juan Silvero y Diego Duré, alumnos del 5° año de informática..
        <br>
            <br>
            DSpace es un software de código abierto que provee herramientas para la administración de colecciones digitales, y comúnmente es usada como solución de repositorio bibliográfico institucional. Soporta una gran variedad de datos, incluyendo libros, tesis, fotografías, filmes, video, datos de investigación y otras formas de contenido. Los datos son organizados
            como ítems que pertenecen a una colección; cada colección pertenece a una comunidad.
            <br>
            <br>
            DSpace fue liberado en el 2002, como producto de una alianza de HP y el MIT. Es liberado bajo una
            licencia BSD que permite a los usuarios personalizar o extender el software según se necesite.
            <br>
            <br>
           <a href="https://publicaciones.fctunca.edu.py/" target="_blank">Acceder al repositorio institucional</a>

        </p><br>
          <h4 data-aos="fade-up">También se puede acceder a los PFG mediante los siguientes enlaces:</h4><br>
          <ul data-aos="fade-up">
              <li><a href="https://drive.google.com/drive/folders/1M9zNL2NVojDykF5VfYStA4YN9qPl7Gpx?usp=sharing" target="_blank">PFG Ing. Electricidad</a>
</li>
              <li><a href="https://drive.google.com/drive/folders/1MIM8BbQZgvOIBVTZBaxuydsTQc929qOx?usp=sharing" target="_blank">PFG Ing. Civil</a></li>

              <li><a href="https://drive.google.com/drive/folders/1MNuD2tBqGOXvZQHTscwhsLvTcAreg93e?usp=sharing" target="_blank">PFG Ing. en Sistemas Informáticos</a>
</li>
              <li><a href="https://drive.google.com/drive/folders/1MRLESegyAfIpch6P2HWfO9pSF7EiX458?usp=sharing" target="_blank">PFG Ing. Electrónica</a></li>
          </ul>
         <p data-aos="fade-up">A continuación una breve descripción de las funcionalidades del repositorio:
             <br>
             <br>
              <ul data-aos="fade-up" >
              <li>En la pantalla de inicio se encuentran las categorías, en este caso son las carreras de la FCyT y los congresos en los que han participado sus representantes.

</li>
              <li>También se pueden ver los autores de trabajos y en cuantos trabajos aparecen.
</li>

              <li>También se puede revisar por palabras clave, apareciendo la cantidad de veces que las mismas aparecen.

</li>
              <li>Finalmente se puede filtrar por año de publicación del trabajo.
</li>
             <li>Finalmente se puede filtrar por año de publicación del trabajo.
</li>
             <li>Todos los trabajos están publicados bajo una
                 <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.es" target="_blank"> licencia de
                 Creative Commons Reconocimiento-No Comercial 4.0 Internacional</a> la cual permite compartir — copiar y redistribuir el material en cualquier medio o formato; adaptar
                 — remezclar, transformar y construir a partir del material bajo los siguientes términos:
                 </li>
                 <ul>

      <li>Atribución — se debe dar crédito de manera adecuada, brindar un enlace a la licencia, e indicar si se han realizado cambios. Puede hacerlo en cualquier forma razonable, pero no de forma tal que sugiera que usted o su uso tienen el apoyo de la licenciante.</li>
      <li>No Comercial — Usted no puede hacer uso del material con propósitos comerciales.</li>
    </ul>
          <li>Tener configurado el repositorio permite que los trabajos publicados ahí sean indexados en el buscador Google Académico.</li>


          </ul>
<p data-aos="fade-up">
Si es miembro de la comunidad de la FCyT (alumno o docente) y desea que su trabajo sea publicado, envíelo al correo <a href="mailto:hestigarribia64@fctunca.edu.py">hestigarribia64@fctunca.edu.py</a> para su evaluación y publicación.
<br><br>


        </p>
      </div>
    </section>


  </main><!-- End #main -->

{% include "footer.html" %}