{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu">Institucional</li>
            <li class="breadSeccion">Reseña Historica</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h1 class="tittlecolor" data-aos="fade-up"><strong>Reseña Histórica</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
        <p>
          <b>La Facultad de Ciencias y Tecnologías</b> fue creada el 17 de noviembre de 2009, mediante <a href="#" style="color: #006fdd;">Resolución Nº 86/2009</a> del Consejo Superior
          Universitario de la Universidad Nacional de Caaguazú, habilitándose en esa ocasión con tres carreras: Ingeniería en Informática,
          Ingeniería en Electrónica e Ingeniería en Electricidad; siendo su Decano el Prof. Ing. Roberto Rosa Chávez Ayala y
          Vicedecano Prof. Mts. Lic. Ángel Rodríguez González y es designada como Secretaria General la Lic. Elena Elizabeth Florentín de Vera.
          <br><br>La denominación de la Facultad de Ciencias Tecnológicas fue cambiada por la de Facultad de Ciencias y Tecnologías por
            <a href="#" style="color: #006fdd;">Resolución Nº 22/2013</a>  del Consejo Superior Universitario de la Universidad Nacional de Caaguazú.
           <br><br>El primer Curso Probatorio de Ingreso se realiza en las instalaciones del Multiuso de la Cooperativa Coronel Oviedo Ltda.
           en el año 2009, posteriormente el primer grupo de ingresantes inicia su actividad académica en el año 2010 en las instalaciones
           del Colegio Nacional de E.M.D. Dr. Pedro P. Peña. En el segundo semestre del 2010 se desarrollaron las actividades en la Escuela
           12 de Junio y luego se trasladó a la Escuela San Antonio de Padua. En el 2015, la Facultad se traslada en el predio de la Ex guardería
           Betel ubicada en la Avda. Sargento 1ero. Benítez entre Padre Molas y Fabián Ojeda, en donde actualmente se imparten las actividades
           académicas y administrativas.
           <br><br>
           La <a href="#" style="color: #006fdd;">Ley 3385/2007</a> que aprueba la Carta Orgánica de la Universidad Nacional de Caaguazú, es el marco rector de las actividades
           académicas y administrativas de la Facultad. En dicha Ley se establece el sistema de gobierno y elección de autoridades
           de la institución. <br><br>
           Actualmente la Facultad de Ciencias y Tecnologías cuenta con las siguientes carreras: <br>
           <div class="d-flex flex-row ps-3">
            <span data-aos="fade-up" data-aos-delay="100">-Ingeniería en Electrónica.</span>
            <span data-aos="fade-up" class="ms-5"   data-aos-delay="200">-Ingeniería en Electricidad.</span>
            <span data-aos="fade-up" class="ms-5"   data-aos-delay="400">-Ingeniería en Informática.</span>
            <span data-aos="fade-up" class="ms-5"   data-aos-delay="600">-Ingeniería Civil.</span>
           </div>



        </p>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}