{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FCYT | UNCA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "img/favicon.png" %}" rel="icon">
  <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static "img/logofcytunca.png" %}" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero"><i style="font-size: 20px;" class="bi bi-house"></i></a></li>
          <li class="dropdown"><a href="#"><span>Institucional</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Reseña Histórica</a></li>
              <li><a href="#">Mision, Vision y Valores</a></li>
              <li><a href="#">Autoridades</a></li>
              <li><a href="#">Consejo Directivo</a></li>
                <li><a href="#">Resolusiones</a></li>
                <li><a href="#">Identidad</a></li>
                <li><a href="#">Organigrama</a></li>
                <li><a href="#">Acuerdo y Convenios</a></li>
                <li><a href="#">Dependencias</a></li>
                <li><a href="#">Politicas y Reglamentos</a></li>
                <li><a href="#">Marco Legal</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Academico</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Aranceles</a></li>
              <li><a href="#">Calendario Academico</a></li>
              <li><a href="#">Guia Academica</a></li>
                <li><a href="#">Reglamento Academico</a></li>
              <li><a href="#">Horarios de Clases y Examenes</a></li>
                <li><a href="#">Bienestar Estudiantil</a></li>
                <li><a href="#">Mobilidad Academica y Pasantia</a></li>
                <li><a href="#">Concurso Docente</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Carreras</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Ingenieria en Sistemas Informaticos</a></li>
              <li><a href="#">Ingenieria en Electronica</a></li>
              <li><a href="#">Ingenieria en Electricidad</a></li>
              <li><a href="#">Ingenieria Civil</a></li>
                <li><a href="#">Postgrado</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Admision</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Examenes de Admision</a></li>
              <li><a href="#">Resultados de Examenes de Admision</a></li>
              <li><a href="#">Lista de Ingresantes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Extension</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Extension Universitaria</a></li>
              <li><a href="#">Reglamentos de Extesion Universitaria</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Investigacion</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
            </ul>
          </li>
            <li class="dropdown"><a href="#"><span>Transparencia </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Ley Nº 5189/2014</a></li>
            </ul>
          </li>


          <!--<li><a class="getstarted scrollto" href="#about">Get Started</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs" style="background-color: transparent; margin-bottom: 0px; padding-bottom: 0px">
      <div class="container">
        <ol>
          <li><a style="color: #006fdd" href="index.html">Inicio</a></li>
          <li style="color: #006fdd">Institucional</li>
            <li style="color: black">Reseña Historica</li>
        </ol>
      </div>
    </section>
      <section class="breadcrumbs" style="padding-top: 0px; margin-top: 0px">
      <div class="container-titulo">
          <h1 data-aos="fade-up" style="color: black"><strong>Reseña Histórica</strong></h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
        <p>
          <b>La Facultad de Ciencias y Tecnologías</b> fue creada el 17 de noviembre de 2009, mediante <a href="#" style="color: #006fdd;">Resolución Nº 86/2009</a> del Consejo Superior
          Universitario de la Universidad Nacional de Caaguazú, habilitándose en esa ocasión con tres carreras: Ingeniería en Informática,
          Ingeniería en Electrónica e Ingeniería en Electricidad; siendo su Decano el Prof. Ing. Roberto Rosa Chávez Ayala y
          Vicedecano Prof. Mts. Lic. Ángel Rodríguez González y es designada como Secretaria General la Lic. Elena Elizabeth Florentín de Vera.
          <br><br>La denominación de la Facultad de Ciencias Tecnológicas fue cambiada por la de Facultad de Ciencias y Tecnologías por
            <a href="#" style="color: #006fdd;">Resolución Nº 22/2013</a>  del Consejo Superior Universitario de la Universidad Nacional de Caaguazú.
           <br><br>El primer Curso Probatorio de Ingreso se realiza en las instalaciones del Multiuso de la Cooperativa Coronel Oviedo Ltda.
           en el año 2009, posteriormente el primer grupo de ingresantes inicia su actividad académica en el año 2010 en las instalaciones
           del Colegio Nacional de E.M.D. Dr. Pedro P. Peña. En el segundo semestre del 2010 se desarrollaron las actividades en la Escuela
           12 de Junio y luego se trasladó a la Escuela San Antonio de Padua. En el 2015, la Facultad se traslada en el predio de la Ex guardería
           Betel ubicada en la Avda. Sargento 1ero. Benítez entre Padre Molas y Fabián Ojeda, en donde actualmente se imparten las actividades
           académicas y administrativas.
           <br><br>
           La <a href="#" style="color: #006fdd;">Ley 3385/2007</a> que aprueba la Carta Orgánica de la Universidad Nacional de Caaguazú, es el marco rector de las actividades
           académicas y administrativas de la Facultad. En dicha Ley se establece el sistema de gobierno y elección de autoridades
           de la institución. <br><br>
           Actualmente la Facultad de Ciencias y Tecnologías cuenta con las siguientes carreras: <br>
           <div class="d-flex flex-column ps-3">
            <span data-aos="fade-up"  data-aos-delay="100">Ingeniería en Electrónica.</span>
            <span data-aos="fade-up"  data-aos-delay="200">Ingeniería en Electricidad.</span>
            <span data-aos="fade-up"  data-aos-delay="400">Ingeniería en Informática.</span>
            <span data-aos="fade-up"  data-aos-delay="600">Ingeniería Civil.</span>
           </div>



        </p>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Boletín Informativo</h4>
            <p>No te pierdas las últimas novedades de la FCYT.</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscríbete">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <!--<img src="{% static "" %}" alt="">-->
              <span>FCYT | UNCA </span>
            </a><br>
            <p>Creada el 17 de noviembre de 2009, mediante Resolución Nº 86/2009 del Consejo Superior Universitario de la Universidad Nacional de Caaguazú</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-envelope"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-whatsapp"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Enlaces de Interes</h4>
            <!--<ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>-->
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Servicios</h4>
            <!--<ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>-->
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contacto</h4>
            <p>
              Sargento Florentino Benítez
                <br>& Padre Molas, 3300<br>
                Cnel. Oviedo - Paraguay<br><br>
              <strong>Teléfono:</strong> +595 521 201 548<br>
              <strong>Email:</strong> info@fctunca.edu.py<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FCYT|UNCA 2024</span></strong>. Todos los Derechos Reservados
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "vendor/purecounter/purecounter_vanilla.js" %}"></script>
  <script src="{% static "vendor/aos/aos.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script>
  <script src="{% static "vendor/php-email-form/validate.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "js/main.js" %}"></script>

</body>

</html>