{% load static %}
{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a class="breadInicio" href="index.html">Inicio</a></li>
          <li class="breadMenu" >Agregar dato del menu</li>
            <li class="breadSeccion">Agregar dato de la Seccion</li>
        </ol>
      </div>
    </section>
      <section class="tittle">
      <div class="container-titulo">
          <h4 data-aos="fade-up" style="color: black"><strong>Nombre de la seccion</strong></h4>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="containerText">
        <p>Contenido de la seccion</p>
      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}