{% load static %}
{% include "header.html" %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a class="breadInicio" href="inicio/">Inicio</a></li>
                <li class="breadMenu">Transparencia</li>
                <li class="breadSeccion">Transparencia Ley 5189/2014</li>
            </ol>
        </div>
    </section>
    <section class="tittle">
        <div class="container-titulo">
            <h1 class="tittlecolor" data-aos="fade-up"><strong>Transparencia Ley 5189/2014</strong></h1>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div id="containerTransparency" class="containerText d-flex flex-column">
            <a data-aos="fade-up" data-aos-delay="0" class="transparencyContainer" data-bs-toggle="collapse"
               href="#collapseExample1" role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <span class="transparencyTitle">Estructura Organica y Funciones de cada una de las Dependencias</span>
            </a>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-file-pdf"></i><a href="https://www.fctunca.edu.py/application/files/9415/6598/4630/organigrama.jpg"> Ver Estructura Organica</a></li>
                        <br>
                        <li><i class="bi bi-file-pdf"></i><a href="https://www.fctunca.edu.py/application/files/6716/3431/8460/Res.41_actualizacion_Organigrama_Manual_de_Funciones_compressed.pdf"> Manual de Funciones</a></li>
                    </ul>
                </div>
            </div>
            <a data-aos="fade-up" class="transparencyContainer" href="direccion_telefono_dependencias/" role="button">
                <span class="transparencyTitle">Dirección y Teléfono de las Dependencias</span>
            </a>
            <a data-aos="fade-up" class="transparencyContainer" href="funcionarios_año/"
            >
                <span class="transparencyTitle">Nómina de Funcionarios por Año</span>
            </a>
            <!--
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-person-badge"></i><a href="#"> Año 2021</a></li><br>
                        <li><i class="bi bi-person-badge"></i><a href="#"> Año 2021</a></li><br>
                        <li><i class="bi bi-person-badge"></i><a href="#"> Año 2022</a></li><br>
                        <li><i class="bi bi-person-badge"></i><a href="#"> Año 2023</a></li><br>
                        <li><i class="bi bi-person-badge"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div> -->
            <a data-aos="fade-up" class="transparencyContainer" href="vacancias/">
                <span class="transparencyTitle">Vacancias por Año</span>
            </a>
            <!--
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-person-exclamation"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-person-exclamation"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-person-exclamation"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-person-exclamation"></i><a href="#"> Año 2023</a></li>
                        <br>
                        <li><i class="bi bi-person-exclamation"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div> -->
            <a data-aos="fade-up" class="transparencyContainer" href="declaracion_jurada/">
                <span class="transparencyTitle">Declaración Jurada por Año</span>
            </a>
            <!--<div class="collapse" id="collapseExample5">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-file-earmark-text"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-file-earmark-text"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-file-earmark-text"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-file-earmark-text"></i><a href="#"> Año 2023</a></li>
                        <br>
                        <li><i class="bi bi-file-earmark-text"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div> -->
            <a data-aos="fade-up" class="transparencyContainer" href="presupuesto_ingreso/">
                <span class="transparencyTitle">Presupuesto de Ingresos Gastos Asignados y Anexo de Personal por Año</span>
            </a>
            <!-- <div class="collapse" id="collapseExample6">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-wallet"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-wallet"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-wallet"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-wallet"></i><a href="#"> Año 2023</a></li>
                        <br>
                        <li><i class="bi bi-wallet"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div> -->
            <a data-aos="fade-up" class="transparencyContainer" target="_blank" rel="noopener noreferrer" href="https://www.fctunca.edu.py/application/files/3716/3468/9733/FCYT_EJECUCIONDEINGRESOS_SETIEMBRE2021_CRIEJI06.pdf">
                <span class="transparencyTitle">Ejecución Presupuestaria Institucional Mensual</span>
            </a>
            <a data-aos="fade-up" class="transparencyContainer" data-bs-toggle="collapse" href="#collapseExample8"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <span class="transparencyTitle">Informe de Viáticos por Año</span>
            </a>
            <div class="collapse" id="collapseExample8">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-cash"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-cash"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-cash"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-cash"></i><a href="#"> Año 2023</a></li>
                        <br>
                        <li><i class="bi bi-cash"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div>
            <a data-aos="fade-up" class="transparencyContainer" data-bs-toggle="collapse" href="#collapseExample9"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <span class="transparencyTitle">Inventario Patrimonial por Año</span>
            </a>
            <div class="collapse" id="collapseExample9">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-backpack"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-backpack"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-backpack"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-backpack"></i><a href="#"> Año 2023</a></li>
                        <br>
                        <li><i class="bi bi-backpack"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div>
            <a data-aos="fade-up" class="transparencyContainer" data-bs-toggle="collapse" href="#collapseExample10"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <span class="transparencyTitle">Funcionarios Comisionados a otras Unidades Académicas por Año</span>
            </a>
            <div class="collapse" id="collapseExample10">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-person-up"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-person-up"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-person-up"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-person-up"></i><a href="#"> Año 2023</a></li>
                        <br>
                        <li><i class="bi bi-person-up"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div>
            <a data-aos="fade-up" class="transparencyContainer" data-bs-toggle="collapse" href="#collapseExample11"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <span class="transparencyTitle">Funcionarios Comisionados a la FCyT por Año</span>
            </a>
            <div class="collapse" id="collapseExample11">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-person-down"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-person-down"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-person-down"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-person-down"></i><a href="#"> Año 2023</a></li>
                        <br>
                        <li><i class="bi bi-person-down"></i><a href="#"> Año 2024</a></li>
                    </ul>
                </div>
            </div>
            <a data-aos="fade-up" class="transparencyContainer" data-bs-toggle="collapse" href="#collapseExample12"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <span class="transparencyTitle">Resumen Anual General</span>
            </a>
            <div class="collapse" id="collapseExample12">
                <div class="card card-body">
                    <ul class="listTransparency">
                        <li><i class="bi bi-journal-bookmark-fill"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-journal-bookmark-fill"></i><a href="#"> Año 2021</a></li>
                        <br>
                        <li><i class="bi bi-journal-bookmark-fill"></i><a href="#"> Año 2022</a></li>
                        <br>
                        <li><i class="bi bi-journal-bookmark-fill"></i><a href="#"> Año 2023</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

{% include "footer.html" %}